
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<title>HaiKu</title>
</head>

<body>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/d3.min.js"></script>
	<script src="/js/main.js"></script>

	<!-- <embed id="sound_1" src="river_sound.wav" hidden="true" autostart="true"> -->

	<!-- button -->
	<div id="bttn_1" class="bttn"></div>
	<div id="bttn_2" class="bttn"></div>
	<div id="bttn_3" class="bttn"></div>
	<div id="title">
		Haiku Poems<br>
		by Richard Wright
	</div>

	<img src="/img/arrow.png" id="arrow">


	<!-- second -->
	<div id="img_2">
		<div id="box"></div>
		<img src="/img/bg.png" id="bg">
		<img src="/img/trace.png" id="trace">
		<img src="/img/person.png" id="person">
		
		<div id="poem_2" class="poem">
			This autumn evening<br>
			Is full of an empty sky<br>
			And one empty road.
		</div>
	</div>


	<!-- third -->
	<div id="img_3" >
		<div id="box2"></div>
		<img src="/img/ppl.png" id="ppl">
		<img src="/img/star.png" id="star">
		
		<div id="poem_3" class="poem">
			Keep straight down this block, <br>
			Then turn right where you will find <br>
			A peach tree blooming.
		</div>
	</div>


	<!-- first	 -->
	<div id="img_1">
		<img src="/img/mountain.png" id="mountain">
		<img src="/img/ship3.png" id="ship">
		<img src="/img/duck.png" id="duck">
		<img src="/img/line.png" id="line">

		<div id="poem_1" class="poem">
			I am nobody: <br>
			A red sinking autumn sun <br>
			Took my name away.
		<div>
	</div>

	
	<!-- <script src="/js/main.js"></script> -->
</body>
</html>
