#bttn_1 {
	position: absolute;
	z-index: 10;
	width: 8px;
	height: 8px;
	margin-left: -350px;
	left: 50%;
	top: 14%;
	background-color: rgba(255,0,0,0.6);
	border: 1px solid rgba(255,0,0,0.6);
	border-radius: 3px;
}

#bttn_2 {
	position: absolute;
	z-index: 10;
	width: 8px;
	height: 8px;
	margin-left: -335px;
	left: 50%;
	top: 14%;
	/*background-color: red;*/
	border: 1px solid rgba(255,0,0,0.6);
	border-radius: 3px;
}

#bttn_3 {
	position: absolute;
	z-index: 10;
	width: 8px;
	height: 8px;
	margin-left: -320px;
	left: 50%;
	top: 14%;
	/*background-color: red;*/
	border: 1px solid rgba(255,0,0,0.6);
	border-radius: 3px;
}

.1_img {
	visibility: visible;
}

#mountain {
	position: absolute;
	width: 700px;
	margin-left: -350px;
	left: 50%;
	top: 15%;
}

#ship {
	position: absolute;
	width: 500px;
	margin-left: -350px;
	/*left: -300px;*/
	left: 50%;
	bottom: 15%;
}

#duck {
	position: absolute;
	width: 68px;

	right: -100px;
	/*right: 50%;*/
	/*margin-right: -48px;*/

	bottom: 15%;
	margin-bottom: 60px;
}

#line {
	position: absolute;
	right: 50%;
	margin-right: 128px;

	bottom: 15%;
	margin-bottom: 26px;
	width: 120px;
}

.poem {
	color: grey;
	font-family: arial;
	font-size: 12px;
	letter-spacing: 2px;
	
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: 0px;
	line-height: 180%;
}

#poem_1 {
	opacity: 0;
}




























