@font-face {
    font-family: neue;
    src: url(HelveticaNeue-BoldCond.otf);
}

body {
	font-family: "neue", arial;
	height: 3000px;
}


/* button */
.bttn {
	position: fixed;
	z-index: 10;
	width: 26px;
	height: 8px;
	top: 8%;
	left: 5%;

	background-color: black;
	border: none;	
}

#bttn_1 {
	margin-left: 0px;
	height: 8px;
}

#bttn_2 {
	margin-left: 29px;
	margin-top: 0px;
	height: 2px;
}

#bttn_3 {
	margin-left: 58px;
	margin-top: 0px;
	height: 2px;
}

#arrow {
	position: fixed;
	bottom: 20px;
	z-index: 100;
	left: 50%;
	width: 26px;
	margin-left: -13px;
	opacity: 0;
}


/* title */
#title {
	position: fixed;
	z-index: 10;
	left: 5%;
	top: 8%;
	margin-top: 24px;
	font-size: 12px;
}


/* image */
#img_1 {
	visibility: visible;
}

#img_2 {
	visibility: visible;
}

#img_3 {
	visibility: visible;
}


/* individual image */
#mountain {
	position: fixed;
	width: 700px;
	margin-left: -350px;
	left: 50%;

	bottom: 50%;
	margin-bottom: 56px;
}

#ship {
	position: fixed;
	width: 500px;
	margin-left: -350px;
	left: 50%;

	top: 50%;
	margin-top: 162px;
}

#duck {
	position: fixed;
	width: 68px;

	right: 30%;
	top: 50%;
	margin-top: 160px;
}

#line {
	position: fixed;
	right: 50%;
	margin-right: 128px;

	top: 50%;
	margin-top: 220px;
	width: 220px;
}

#bg {
	position: fixed;
	z-index: 10;
	bottom: 10%;
	width: 194px;
	left: 50%;
	margin-left: -600px;
	margin-bottom: 60px;
}

#walking {
	position: fixed;
	z-index: 2;
	bottom: 10%;
	width: 1200px;
	left: 0px;
	margin-left: -600px;
}

#trace {
	position: fixed;
	z-index: 2;
	bottom: 10%;
	width: 1200px;
	left: 50%;
	margin-left: -600px;
	margin-bottom: -30px;
	opacity: 1;
}

#person {
	position: fixed;
	z-index: 8;
	bottom: 10%;
	width: 20px;
	left: 50%;
	margin-left: 580px;
	margin-bottom: 10px;
}

#box {
	position: fixed;
	z-index: 4;
	top: 20%;
	height: 80%;

	left: 50%;
	margin-left: -400px;
	width: 100%;
	background-color: white;
}


#box2 {
	position: fixed;
	z-index: 4;
	height: 100%;

	bottom: 10%;
	margin-bottom: 130px;

	left: 0px;
	width: 100%;
	background-color: white;
}
 
#ppl {
	position: fixed;
	z-index: 8;
	bottom: 10%;
	width: 380px;
	left: 50%;
	margin-left: -190px;
	margin-bottom: -10px;
	opacity: 1;
}

#star {
	position: fixed;
	z-index: 2;
	bottom: 10%;
	width: 360px;
	left: 50%;
	margin-left: -180px;
	margin-bottom: 140px;
	opacity: 1;
}


/* poem */
.poem {
	color: black;

	font-size: 18px;
	letter-spacing: 0px;
	
	position: fixed;
	z-index: 200;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: 0px;
	line-height: 180%;
	opacity: 0;
}

#poem_1 {
	opacity: 0;
}

#poem_2 {
	margin-top: -60px;
	opacity: 0;
}

#poem_3 {
	opacity: 0;
	margin-left: 154px;
	margin-top: 20px;
	opacity: 0;
}


























